

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= pageTitle %></title>
    <!-- --------------------------------------------------------- -->
    <link rel="icon" href="img/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- [ styles ] 
    ==================================================== -->
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/globals/swiper-bundle.min.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <link rel="stylesheet" href="stylesheets/cart/cart.css">
    <!-- [ scripts ] 
    ==================================================== -->
    <script src="js/globals/swiper-bundle.min.js"></script>
    <script src="js/globals/global.js" defer></script>
    <script src="js/cart/cart.js" defer></script>
</head>
<body>
        
    <%- include( "includes/appbar" ) %>

    <main>
        
        <article class="highlights" cart="">
            <header>
                <p title-pk="<%= pageTitle %>"><%= pageTitle %></p>
            </header>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantidade</th>
                            <th>Valor unitário</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let product of cartProducts ) { %>
                            <tr>
                                <td product>
                                    <picture>
                                        <img src="<%= product.cover %>" alt="">
                                    </picture>
                                    <header>
                                        <p bold><%= product.title %></p>
                                        <footer>
                                            <p genre><%= product.genre %></p>
                                            <p category><%= product.category %></p>
                                        </footer>
                                    </header>
                                </td>
                                <td><%= product.quantity %></td>
                                <td>R$ <%= product.price %></td>
                                <td>R$ <%= product.cartPrice %></td>
                                <td>
                                    <form action="/cart/delete-item" method="post">
                                        <input type="hidden" name="productId" value="<%= product.id %>">
                                        <button>remover</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
            <section>
                <header>
                        <div>
                            <p title-pk="Produtos em seu carrinho">
                                Produtos em seu carrinho
                            </p>
                        </div>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Produtos</td>
                                <% let total = 0; %>
                                <% let frete = 0; %>
                                <% let Total = 0; %>
                                <% for( let products of cartProducts ) { %>
                                    <% total += products.cartPrice %>
                                <% } %>
                                <% if( cartProducts.length != 0 ) { %>
                                    <% frete = 25.50; %>
                                    <% Total = total + frete %>
                                <% } else { %>
                                    <% Total = total %>
                                <% } %>
                                <td>R$ <%= total.toString().replace( ".", "," ) %></td>
                            </tr>
                            <tr>
                                <td>Frete</td>
                                <td>R$ <%= frete.toString().replace( ".", "," ) %></td>
                            </tr>
                            <hr>
                            <tr>
                                <td b>Total</td>
                                <td b><%= Total.toString().replace( ".", "," ) %></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="button-pk" 
                                        role="button" type="submit">
                                        <btn-shadow class=""></btn-shadow>
                                        <btn-edge class=""></btn-edge>
                                        <btn-front class=" text">
                                            Continuar a compra
                                        </btn-front>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </header>
            </section>
    </article>

    </main>

    <%- include( "includes/whatsapp-bubble" ) %>
        
    <%- include( "includes/footer" ) %>
    
</body>
</html>


