

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= pageTitle %></title>
    <!-- --------------------------------------------------------- -->
    <link rel="icon" href="img/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- [ styles ] 
    ==================================================== -->
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/globals/swiper-bundle.min.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <!-- [ scripts ] 
    ==================================================== -->
    <script src="js/globals/swiper-bundle.min.js"></script>
    <script src="js/globals/global.js" defer></script>
    <script src="js/home/home.js" defer></script>
</head>
<body>
        
    <%- include( "includes/appbar.ejs" ) %>
    <!-- <page-header></page-header> -->

    <main>
        
        <!-- [ banner section ]
        ========================================================= -->
        <banner-section>
            <slider>
                <slide id="slide00">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="img/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide01">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="img/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide02">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="img/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide03">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="img/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <img class="slider-btn slider-btn-next" src="img/home/arrowRight.svg" alt="">
                <img class="slider-btn slider-btn-prev" src="img/home/arrowLeft.svg" alt="">
            </slider>
        </banner-section>
        
        <!-- [ highlights section ]
        ========================================================= -->
        <article class="highlights">
            <header>
                <title-pk title-pk="Produtos mais procurados" color="var(--cp05)"></title-pk>
            </header>
            <% if( products.length ) { %>
            <slider-spot>
                <slider class="swiper" slider-heighlights>
                    <slider-modules class="swiper-wrapper">
                        <% for( let product of products ) { %>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="<%= product.title %>" 
                                    desc="<%= product.description %>"
                                    real="<%= product.price %>" 
                                    cents="<%= product.cents %>"
                                    src="<%= product.cover %>" 
                                    alt=""
                                    btn="Ver detalhes"
                                    url="/admin/product-details/<%= product.id %>"
                                ></card-pk>
                            </slide>
                            <% } %>


                    </slider-modules>
                    <div class="swiper-pagination"></div>
                </slider>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </slider-spot>
            <center-btn>
                <button-pk name="Ver mais" color="" width="50%"></button-pk>
            </center-btn>
            <% } %>
        </article>

        
        <!-- [ yourBaby section ]
        ========================================================= -->
        <article class="yourbaby">
            <spot>
                <wave></wave>
                <wave></wave>
                <wave></wave>
                <wave-pix>
                    <img src="img/home/mc.webp">
                </wave-pix>
            </spot>
            <footer>
                <header>
                    <title-pk title-pk="Seu pequeno é nossa prioridade" color="var(--cp06)"></title-pk>
                </header>
                <p>Nossa meta é trazer inovação e tudo que há de melhor para seu bebê, para garantir à
                    mamãe e seu pequeno todo o conforto e alegria que a vida pode oferecer.
                    <br> <br>
                    É incrível como algo tão pequenino pode te fazer sentir algo tão grande.
                </p>
            </footer>
        </article>
        
        <!-- [ sample-products section ]
        ========================================================= -->
        <section class="sample-products">
            <article class="">
                <header>
                    <title-pk name="Moda e acessórios para bebês <br> de 0 à 1 ano" color="var(--cp05)"></title-pk>
                </header>
                <slider-spot>
                    <slider class="swiper" slider-0-1anos>
                        <slider-modules class="swiper-wrapper">

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-01.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-02.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-03.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-04.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-01.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-02.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-03.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-04.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                        </slider-modules>
                        <div class="swiper-pagination"></div>
                    </slider>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </slider-spot>
                <center-btn>
                    <button-pk name="Ver mais" color="" width="50%"></button-pk>
                </center-btn>
            </article>

            <article>
                <header>
                    <title-pk title-pk="Moda e acessórios para pequenos" color="var(--cp05)"></title-pk>
                    <title-pk title-pk="de 2 à 3 anos" color="var(--cp05)"></title-pk>
                </header>
                <slider-spot>
                    <slider class="swiper" slider-2-3anos>
                        <slider-modules class="swiper-wrapper">
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-05.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-06.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-07.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-08.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-05.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-06.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-07.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>
                            
                            <slide class="swiper-slide">
                                <card-pk
                                    name="Product's name" 
                                    desc="Lorem ipsum sit amet consectetur elit. Accusamus recusandae, vel. Quae sit non eius!"
                                    real="99" 
                                    cents="99"
                                    src="img/home/years-section/product-08.png" 
                                    alt=""
                                    btn="Ver detalhes"
                                url="/produto"
                                ></card-pk>
                            </slide>

                        </slider-modules>
                        <div class="swiper-pagination"></div>
                    </slider>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </slider-spot>
                <center-btn>
                    <button-pk name="Ver mais" color="" width="50%"></button-pk>
                </center-btn>
            </article>
        </section>
        
        <!-- [ testimonials section ]
        ========================================================= -->
        <article class="testimonials">
            <header>
                <title-pk title-pk="O que outras mamâes estão dizendo" color="var(--cp07)"></title-pk>
                <title-pk title-pk="sobre nossos serviços" color="var(--cp07)"></title-pk>
            </header>
            <section>
                <card>
                    <card-home>
                        <picture>
                            <img src="img/home/testimonials/mom-testm-01.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>

                <card class="card-destaq">
                    <card-home class="card-destaq-home">
                        <picture>
                            <img src="img/home/testimonials/mom-testm-02.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>

                <card>
                    <card-home>
                        <picture>
                            <img src="img/home/testimonials/mom-testm-03.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>
            </section>
        </article>

    </main>
        
    <%- include( "includes/footer.ejs" ) %>
    <!-- <page-footer></page-footer> -->
    
    
    <script>
        /* [ swiperjs ]
            ============================================================== */
        /*  https://swiperjs.com/get-started
            https://www.jsdelivr.com/package/npm/swiper
            https://swiperjs.com/demos
        */
        var swiper = new Swiper( "*[slider-heighlights]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-0-1anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-2-3anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );
    </script>
</body>
</html>


