

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= pageTitle %></title>
    <!-- --------------------------------------------------------- -->
    <link rel="icon" href="img/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- [ styles ] 
    ==================================================== -->
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/globals/swiper-bundle.min.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <link rel="stylesheet" href="stylesheets/policy/policy.css">
    <!-- [ scripts ] 
    ==================================================== -->
    <script src="js/globals/swiper-bundle.min.js"></script>
    <script src="js/globals/global.js" defer></script>
    <script src="js/home/home.js" defer></script>
</head>
<body>
        
    <%- include( "includes/appbar.ejs" ) %>

    <main>
        
        <!-- [ highlights section ]
        ========================================================= -->
        <article class="highlights">
            <header>
                <title-pk title-pk="<%= pageTitle %>" color="var(--cp05)"></title-pk>
            </header>

            <section bg="card">
                <h1>Políticas de Privacidade</h1>
                <small>
                    A Loja Pikituchos está comprometida com os mais rigorosos padrões de segurança e de proteção à privacidade dos visitantes e clientes do site. Nenhum dado coletado por nosso canal virtual é transferido a terceiras partes.
                </small>
                <hr><br><br>
                <h3>1. Finalidade, Aceitação e Abrangência</h3>
                <small>Para o devido cumprimento da legislação brasileira aplicável à proteção dos dados pessoais, é necessário que o Cliente do site www.modalove.com.br aceite a presente Política de Privacidade e autorize a empresa a armazenar e utilizar os dados pessoais coletados, nos termos desta política.
                    <br><br>
                    Esta manifestação é parte componente dos termos de uso da Loja Pikituchos e a aceitação de todos os termos dispostos, no momento do cadastro, implicam de modo automático na aceitação das políticas aqui transcritas.
                    <br><br>
                    A Política de Privacidade abrange o tratamento que a empresa Pikituchos dá as informações capazes de identificar seus clientes, e que podem ser compartilhadas com seus Parceiros de negócios de acordo com as condições aqui instituídas.</small>
                <h3><br>2. Coleta de informações</h3>
                <small>A Pikituchos poderá coletar/reunir e armazenar as informações pessoais quando o Cliente/Usuário:</small>
                <h3 intro="b"><br>Cadastrar-se para obter uma conta na Pikituchos, etapa necessária para poder desfrutar dos produtos colocados à venda no website da empresa;
                    Ou realizar compras, visitar páginas, fazer buscas no site da Pikituchos, enviar e-mails, e fazer comentários sobre o website, seu funcionamento ou qualquer outro assunto;
                    Os dados cadastrados poderão ser confirmados através de consultas a entidades públicas, companhias especializadas ou bancos de dados, o que, desde já, fica expressamente autorizado.</h3>
                <small intro="b">A Loja Pikituchos também recebe e armazena em seus servidores as informações das atividades dos clientes, obtidas através de cookies (informações enviadas pelo servidor da Pikituchos ao computador do usuário, para identificá-lo). Os cookies servem para controle interno de audiência e de navegação e jamais para controlar, identificar ou rastrear preferências do internauta, exceto quando este desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site. Lembrando que a aceitação dos cookies pode ser voluntariamente modificada nas configurações de seu navegador.</small>
                <h3 intro="b"><br>3. Utilização das informações</h3>
                <small intro="b">Para o fiel cumprimento de suas obrigações e para que os clientes possam realizar operações de forma ágil e segura, a Pikituchos solicita alguns dados de caráter pessoal. A coleta dessas informações, além de permitir a oferta de produtos e funcionalidades que se adaptam melhor as necessidades de cada cliente, tem as seguintes finalidades:</small>
                <h3 intro="b"><br>Desenvolver estudos internos sobre os interesses e comportamentos dos clientes;
                    Melhorar as iniciativas comerciais e promocionais, para aperfeiçoar a oferta dos produtos;
                    Enviar as informações ou mensagens por e-mail sobre promoções, publicidade e ofertas da Pikituchos;
                    Compartilhar a informação pessoal com os provedores de serviços da Pikituchos, como (sem limitar-se a) serviços de transporte, seguros ou intermediários na gestão de pagamentos, call centers ou programas de fidelidade, e entre outros.</h3>
                <small intro="b">A Loja Pikituchos zelará para que se cumpram certos padrões, mediante a assinatura de contratos, cujo objeto seja a privacidade dos dados pessoais de seus clientes. Contudo, a empresa não poderá ser responsabilizada pelo uso indevido da informação pessoal do cliente por parte destas empresas.</small>
                <h3 intro="b"><br>4. Ordem de autoridades competentes - Requerimentos Legais</h3>
                <small intro="b">A Pikituchos, poderá revelar informações pessoais de seus Clientes sob requerimento de autoridades judiciais ou governamentais competentes para fins de investigações conduzidas por elas, mesmo que não exista uma ordem judicial, por exemplo (e sem limitar-se a), quando se tratar de investigações de caráter penal ou relacionadas com fraude, pirataria da informática ou a violação de direitos, ressalvadas as hipóteses de sigilo de informações determinadas por leis em vigor.
                    <br><br>
                    Além disso, a Pikituchos se reserva o direito (e fica autorizado expressamente a tanto) de comunicar informações sobre seus Clientes quando houver motivos suficientes para considerar que a atividade de um cliente seja suspeita de tentar ou de cometer um delito ou tentar prejudicar outras pessoas.</small>
                <h3 intro="b"><br>5. Segurança e armazenagem da informação</h3>
                <small intro="b">A Pikituchos observa todas as normas aplicáveis às medidas de segurança da informação pessoal e emprega os padrões mais avançados em matéria de proteção da confidencialidade destas informações. Ainda assim, é necessário considerar que a segurança perfeita não existe na Internet. Portanto, a Pikituchos não será responsável por interceptações ilegais ou violação de seus sistemas ou bases de dados por parte de pessoas não autorizadas e tampouco se responsabiliza pela indevida utilização da informação obtida por esses meios.
                    <br><br>
                    Todos os dados pessoais informados ao nosso site são armazenados em um banco de dados reservado e com acesso restrito à pessoas habilitadas, que são obrigadas, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente.</small>
                <h3 intro="b"><br>6. Mudanças na Política de Privacidade</h3>
                <small intro="b">A Internet e seus sistemas estão em constante evolução, assim, a Pikituchos poderá alterar condições aqui estabelecidas sempre que necessário e, em caso de mudança substancial, os clientes serão devidamente comunicados.</small>
                <h3 intro="b"><br>7. Envio de Comunicados e Mensagens Publicitárias</h3>
                <small intro="b">A Pikituchos poderá enviar comunicados, avisos de ofertas e mensagens publicitárias a seus Clientes, através do uso de todos os tipos de tecnologias e meios de comunicação disponíveis, seja por e-mail, SMS, MMS, e outros.
                    <br><br>
                    O Cliente poderá solicitar o cancelamento de recebimento de qualquer tipo de mensagem, avisos de ofertas e mensagens publicitárias através do clique desta opção na página da Pikituchos, dentro de MINHA CONTA, sendo que a solicitação será atendida no tempo mínimo necessário para sua realização.</small>
            </section>

        </article>


    </main>

    <%- include( "includes/whatsapp-bubble" ) %>
        
    <%- include( "includes/footer.ejs" ) %>
    
</body>
</html>


